/***************************/
/*MEDIA QUERY TESTING*/
/***************************/

/*fixes for resizing medium and small*/
@media screen and (max-width: 1160px) {    
    #WSUtoolbar .icon {
        margin-right:-8px;
    }
    #WSUtoolbar .tools{
        height:35px;
    }
    #lib_logo{        
        margin-left:5px;
        margin-top:7px;
        height:35px;
    }
    #fts_search {
        margin-top:11px;
        margin-left:20px;
    }
    #jump_form_div{
        margin-top:6px;        
        font-size:15px;
    }
    #BRpagenum{
        font-size:15px;
    }
    #fts_input{
        height:32px;
        font-size:17px;
    }
    #fts_form button{
        height:35px;
        padding-top:6px;
    }
}

/*Medium Size, catches iPad*/
@media screen and (min-width: 806px) and (max-width: 1160px) {
    /*increase icon size*/
    #WSUtoolbar {
        background-color:rgba(0,0,0,0);
        height:100px;
    }

    #WSUtoolbar_minimize {
        top:100px;
    }

    #first_row{
        float:center;
        margin:auto;
        clear:both;
        font-size:1.5em;
        width:100%;
        background-color:rgba(255,250,221,.9);
        height:50px;
    }

    #second_row{        
        float:left;
        margin:auto;
        clear:both;
        width:100%;
        background-color:rgba(255,250,221,.9);
        font-size:1.5em;
        height:50px;
    }

    /*doesn't work, overwritten by default CSS */
    #second_row_leftmost{
        margin-left:82px;
    }

    #second_row div.right {
        float:left;
    }
    /* FTS STATIC */
    #fts_box_text_static {
        display:none;
        position:absolute;
        width:290px;
        background-color:rgba(255,250,221,.9);
        border: 1px solid rgba(71,86,73,.8);
        text-align:left;
        z-index: 10;
        padding:0px 10px;    
        overflow:hidden;        
        margin-top:100px;
        height:90%;
    }  
}

/*Smallest Size, catches phones*/
@media screen and (max-width: 805px) {
    /*increase icon size*/
    #WSUtoolbar {
        background-color:rgba(0,0,0,0);
        height:50px;
    }
    
    #WSUtoolbar_minimize {
        /*top:200px;        */
        display:none;
    }

    #first_row{
        /*float:left;*/
        margin:auto;
        clear:both;
        font-size:1.5em;
        width:100%;
        background-color:rgba(255,250,221,.9);
        height:50px;
    }

    #first_row_pivot{
        float:left;
        margin:auto;
        margin-top:6px;
        clear:both;        
        width:100%;
        background-color:rgba(255,250,221,.9);
        height:50px;
        /*display:none;*/
    }

    #second_row{
        float:left;
        margin:auto;
        clear:both;
        width:100%;
        background-color:rgba(255,250,221,.9);
        font-size:1.5em;
        height:50px;
        /*display:none;*/
    }

    #second_row_pivot{
        float:left;
        margin:auto;
        margin-top:6px;
        clear:both;
        width:100%;
        background-color:rgba(255,250,221,.9);        
        height:50px;
        /*display:none;*/
    }
    #second_row div.right {
        float:left;
    }

    #cogIcon{
        display:inline;
    }

    .collapseRow{
        display:none;
    }

    /* FTS STATIC */
    #fts_box_text_static {
        display:none;
        position:absolute;
        width:95%;
        background-color:rgba(255,250,221,.9);
        border: 1px solid rgba(71,86,73,.8);
        text-align:left;
        z-index: 10;
        padding:0px 10px;    
        overflow:hidden;                
        margin-top:50px; /*with menu down*/
        margin-right:5px;
        height:90%;
        font-size:1.5em;
    } 
}




























