<div class="tool_row">

    <div class="logo tools left">
        <a href="/wsuls/eTextReader/" style="text-decoration:none;"><img id="lib_logo" src="./images/icons/library_system_w_v2.png" height=32/></a>                
    </div>

    <div class="fts_form left" id="fts_search">
        <label>Full-text search:</label>                
        <form id="fts_form" action='javascript:' onsubmit='getFTSResultsStatic(0)'>
            <input id='fts_input' class="fts_input_box input" type='text' size='20' />                    
            <button type="button" class="btn btn-append" onclick="getFTSResultsStatic(0); return false;">search</button> 
        </form>                
    </div>   

    <div class="icon tools left">
        <ul class="the-icons">
            <li><i class="icon-arrow-left" onclick='br.left(); return false;'></i></li>
            <li><i class="icon-arrow-right" onclick='br.right(); return false;'></i></li>            
        </ul>        
    </div>

    <div class="icon tools left" id="jump_to_form">
        <form action='javascript:' onsubmit='br.jumpToPage(this.elements[0].value)'>
            <span class='label'>Page<input id='BRpagenum' type='text' size='3' onfocus='br.autoStop();'/>of <span id="leaf_count"></span></span>
        </form>
    </div>

    <div class="icon tools right">
        <ul class="the-icons">
            <li><i class="icon-cog" onclick='toggleSecondaryToolRow(); return false;'></i></li>            
        </ul>        
    </div>                           

</div> <!--closes tool row div -->

<!--This should contain a secondary row, that is hidden until revealed -->

<div class="tool_row secondary">

    <div class="icon tools left">
        <ul class="the-icons">       
            <li><i class="icon-zoom-out" onclick='br.zoom(-1); return false;' title="Zoom out"></i></li>
            <li><i class="icon-zoom-in" onclick='br.zoom(1); return false;' title="Zoom in"></i></li>
            <li><span id="zoom_level" class='label'><span id='BRzoom'></span></span></li>
        </ul>        
    </div>

    <div class="icon tools left">                                
        <ul id="mode_icons" class="the-icons">                        
            <li><i id="1up_icon" class="icon-file" onclick="launch1up(); return false;"></i></li>
            <li><i id="2up_icon" class="icon-book" onclick="launch2up(); return false;"></i></li>
            <li><i id="thumbs_icon" class="icon-th" onclick="launchThumbs(); return false;"></i></li>                                                                        
            <li><i id="plain_text_icon" class="icon-align-justify" onclick='plainText();' title="Switches to Plain Text / HTML"></i></li>                        
        </ul>                    
    </div>

    <div class="icon tools left">
        <ul class="the-icons">       
            <li><i class="toggleOCR" onclick='toggleOCR(); return false;' style="font-size:1.6em;">text overlay</i></li>                
            <li><i style="font-size:2.5em;" class="OCR_tools icon-fontsize" onclick='fontResize("increase"); return false;'></i></li>                    
            <li><i style="font-size:1.5em;" class="OCR_tools icon-fontsize" onclick='fontResize("decrease"); return false;'></i></li>                    
        </ul>                 
    </div>

    <div class="icon tools left">
        <ul class="the-icons">  
            <li><i class="icon-speaker" onclick='speakPagealoud();' title="Click to Speak Aloud"></i></li>
            <li><span id="audio_load_alert" class='label' style="background-color:pink; display:none;" onclick="sayItstop();">audio playing (click to stop)</span></li>
        </ul>                
    </div>

    <div class="icon tools left">
        <ul class="the-icons">                        
            <li><i class="icon-screenshot" onclick='magLoupe();' title="Click to use magnifying loupe"></i></li>
            <li><i class="icon-resize-full" onclick='goFullScreen();' title="Click to use magnifying loupe"></i></li>
            <li><i class="icon-info-sign" onclick='itemInfo();' title="Book Info"></i></li>                                        
        </ul>                                                     
    </div>


</div> <!--closes tool row div -->