<h2>WSU eTextReader Help</h2>
<p>Welcome to the Wayne State University Library eText Reader.  This application is designed to provide full-text access to electronic texts and resources.  What you are seeing for each page, when not using text overlays, is a digitized image of the page.  The Wayne State Library system has digitized many of these resources, a great deal of them for the first time.  One advantage to this interface is a faithful reproduction of the original layout of the text.  This reader is particularly suited for texts with complex layouts and images.  If you have any further questions about the eText Reader, please don't hesitate to <a href="mailto:libwebmaster@wayne.edu">contact us</a>.</p>
<p>Below is a quick overview of how to use this reader:</p>
<table id="help_table">
	<tr>
		<td class="help_tool_images"><img src="images/help/navigation.png"/></td>
		<td>Navigation Tools: First Page, Previous Page, Next Page, Last Page</td>
	</tr>
	<tr>
		<td class="help_tool_images"><img src="images/help/toc_scrnshot.png"/></td>
		<td>"Jump to Section": Table of Contents or other structured links for the text</td>
	</tr>
	<tr>
		<td class="help_tool_images"><img src="images/help/jump_to.png"/></td>
		<td>"Jump to Page" and total number of pages.</td>
	</tr>
	<tr>
		<td class="help_tool_images"><img src="images/help/fts.png"/></td>
		<td>Full-text Search</td>
	</tr>
	<tr>
		<td class="help_tool_images"><img src="images/help/zoom.png"/></td>
		<td>Page Image Zoom: Zoom Out, Zoom In</td>
	</tr>
	<tr>
		<td class="help_tool_images"><img src="images/help/tools.png"/></td>
		<td>Tools: Text Overlay, Speak Aloud, Zoom Loupe, Full-Screen, Information about the Text, Help Window</td>
	</tr>
	<tr>
		<td class="help_tool_images"><img src="images/help/text_sizing.png"/></td>
		<td>Font Resizing: Increase Font, Decrease Font</br>(displayed only with Text Overlays or Plain Text are activated)</td>
	</tr>
	<tr>
		<td class="help_tool_images"><img src="images/help/modes.png"/></td>
		<td>Reading Modes: One Page, Two Page, Thumbnails, Plain Text / HTML</td>
	</tr>
</table>







