<div id="condTools_wrapper">
    <tr>
        <td>Zoom</td>
        <td>
            <ul class="the-icons">       
                <li><i class="icon-zoom-out" onclick='br.zoom(-1); return false;' title="Zoom out"></i></li>
                <li><i class="icon-zoom-in" onclick='br.zoom(1); return false;' title="Zoom in"></i></li>
                <li><span id="zoom_level" class='label'><span id='BRzoom'></span></span></li>
            </ul>
        </td>
    </tr>
    </br>
    <tr>
        <td>View Modes</td>
        <td>
            <ul id="mode_icons" class="the-icons">                        
                <li><i id="1up_icon" class="icon-file" onclick="launch1up(); return false;"></i></li>
                <li><i id="2up_icon" class="icon-book" onclick="launch2up(); return false;"></i></li>
                <li><i id="thumbs_icon" class="icon-th" onclick="launchThumbs(); return false;"></i></li>                                                                        
                <li><i id="plain_text_icon" class="icon-align-justify" onclick='plainText();' title="Switches to Plain Text / HTML"></i></li>                        
            </ul>
        </td>
    </tr>
    </br>
    <tr>
        <td>Text Overlay</td>
        <td>
            <ul class="the-icons">       
                <li><i class="toggleOCR" onclick='toggleOCR(); return false;' style="font-size:1.6em;">text overlay</i></li>  <!--Have this turn back on when going back...-->              
                <li><i style="font-size:2.5em;" class="OCR_tools icon-fontsize" onclick='fontResize("increase"); return false;'></i></li>                    
                <li><i style="font-size:1.5em;" class="OCR_tools icon-fontsize" onclick='fontResize("decrease"); return false;'></i></li>                    
            </ul>
        </td>
    </tr>
    </br>
    <tr>
        <td>Speak Aloud</td>
        <td>
            <ul class="the-icons">  
                <li><i class="icon-speaker" onclick='speakPagealoud();' title="Click to Speak Aloud"></i></li>
                <li><span id="audio_load_alert" class='label' style="background-color:pink; display:none;" onclick="sayItstop();">audio playing (click to stop)</span></li>
            </ul>
        </td>
    </tr>
    </br>
    <tr>
        <td>Information</td>
        <td>
            <ul class="the-icons">                
                <li><i class="icon-info-sign" onclick='itemInfo();' title="Book Info"></i></li>                                        
            </ul>
        </td>
    </tr>
</div>